In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(5,4))
df

          0         1         2         3
0  0.971270  0.375634  0.894082  0.364675
1  0.582987  0.219275  0.635428  0.075996
2  0.143602  0.927029  0.668106  0.841925
3  0.451984  0.989532  0.784918  0.576799
4  0.453667  0.199027  0.860882  0.220478

In [3]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
df.columns

RangeIndex(start=0, stop=4, step=1)

In [5]:
df

          0         1         2         3
0  0.971270  0.375634  0.894082  0.364675
1  0.582987  0.219275  0.635428  0.075996
2  0.143602  0.927029  0.668106  0.841925
3  0.451984  0.989532  0.784918  0.576799
4  0.453667  0.199027  0.860882  0.220478

In [6]:
df.head(2)

          0         1         2         3
0  0.971270  0.375634  0.894082  0.364675
1  0.582987  0.219275  0.635428  0.075996

In [7]:
df.tail(2)

          0         1         2         3
3  0.451984  0.989532  0.784918  0.576799
4  0.453667  0.199027  0.860882  0.220478

In [8]:
df.describe()

              0         1         2         3
count  5.000000  5.000000  5.000000  5.000000
mean   0.520702  0.542099  0.768683  0.415974
std    0.299295  0.386649  0.114413  0.301552
min    0.143602  0.199027  0.635428  0.075996
25%    0.451984  0.219275  0.668106  0.220478
50%    0.453667  0.375634  0.784918  0.364675
75%    0.582987  0.927029  0.860882  0.576799
max    0.971270  0.989532  0.894082  0.841925

In [9]:
df[1][1]

0.21927510766634883

In [10]:
ser = pd.Series(np.random.rand(4))

In [11]:
ser

0    0.511122
1    0.151031
2    0.216899
3    0.659832
dtype: float64

In [12]:
ser.dtypes

dtype('float64')

In [13]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
type(ser)

pandas.core.series.Series

In [16]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
newdf = pd.DataFrame(np.random.rand(34,4))

In [18]:
newdf

           0         1         2         3
0   0.754585  0.063526  0.326632  0.339170
1   0.338703  0.729380  0.771534  0.949519
2   0.747204  0.034015  0.751395  0.623584
3   0.576710  0.872107  0.353739  0.781153
4   0.102193  0.129078  0.853842  0.951505
5   0.533665  0.261230  0.231449  0.257037
6   0.001248  0.195639  0.916073  0.772811
7   0.702108  0.156224  0.166162  0.642641
8   0.767247  0.137637  0.415814  0.585618
9   0.092331  0.611356  0.503789  0.138400
10  0.616181  0.301919  0.136615  0.156689
11  0.362637  0.608366  0.471818  0.793698
12  0.115748  0.963438  0.892760  0.570825
13  0.419106  0.229500  0.661452  0.893768
14  0.544569  0.728821  0.523245  0.977768
15  0.955462  0.018796  0.919875  0.404972
16  0.234980  0.159342  0.159267  0.970409
17  0.453454  0.579044  0.877491  0.920674
18  0.647047  0.627702  0.271710  0.630208
19  0.540708  0.658546  0.347284  0.248877
20  0.879442  0.732165  0.735349  0.295716
21  0.166183  0.581233  0.862661  0.602864
22  0.636263  0.870470  0.918897  0.287522
23  0.852073  0.646416  0.021361  0.121807
24  0.838305  0.885961  0.069277  0.932915
25  0.032041  0.414729  0.981779  0.422200
26  0.260403  0.870031  0.998714  0.606855
27  0.266406  0.955599  0.647346  0.000770
28  0.746436  0.018277  0.084773  0.466840
29  0.597620  0.778054  0.724106  0.240853
30  0.736445  0.664785  0.361101  0.753756
31  0.412701  0.654538  0.422489  0.553189
32  0.949139  0.955739  0.697275  0.336600
33  0.936919  0.812475  0.808107  0.789084

In [19]:
newdf[0][0] = 123

In [20]:
newdf

             0         1         2         3
0   123.000000  0.063526  0.326632  0.339170
1     0.338703  0.729380  0.771534  0.949519
2     0.747204  0.034015  0.751395  0.623584
3     0.576710  0.872107  0.353739  0.781153
4     0.102193  0.129078  0.853842  0.951505
5     0.533665  0.261230  0.231449  0.257037
6     0.001248  0.195639  0.916073  0.772811
7     0.702108  0.156224  0.166162  0.642641
8     0.767247  0.137637  0.415814  0.585618
9     0.092331  0.611356  0.503789  0.138400
10    0.616181  0.301919  0.136615  0.156689
11    0.362637  0.608366  0.471818  0.793698
12    0.115748  0.963438  0.892760  0.570825
13    0.419106  0.229500  0.661452  0.893768
14    0.544569  0.728821  0.523245  0.977768
15    0.955462  0.018796  0.919875  0.404972
16    0.234980  0.159342  0.159267  0.970409
17    0.453454  0.579044  0.877491  0.920674
18    0.647047  0.627702  0.271710  0.630208
19    0.540708  0.658546  0.347284  0.248877
20    0.879442  0.732165  0.735349  0.295716
21    0.166183  0.581233  0.862661  0.602864
22    0.636263  0.870470  0.918897  0.287522
23    0.852073  0.646416  0.021361  0.121807
24    0.838305  0.885961  0.069277  0.932915
25    0.032041  0.414729  0.981779  0.422200
26    0.260403  0.870031  0.998714  0.606855
27    0.266406  0.955599  0.647346  0.000770
28    0.746436  0.018277  0.084773  0.466840
29    0.597620  0.778054  0.724106  0.240853
30    0.736445  0.664785  0.361101  0.753756
31    0.412701  0.654538  0.422489  0.553189
32    0.949139  0.955739  0.697275  0.336600
33    0.936919  0.812475  0.808107  0.789084

In [21]:
type(newdf)

pandas.core.frame.DataFrame

In [22]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [23]:
newdf[0][0]='zubair'

In [24]:
newdf

           0         1         2         3
0     zubair  0.063526  0.326632  0.339170
1   0.338703  0.729380  0.771534  0.949519
2   0.747204  0.034015  0.751395  0.623584
3    0.57671  0.872107  0.353739  0.781153
4   0.102193  0.129078  0.853842  0.951505
5   0.533665  0.261230  0.231449  0.257037
6   0.001248  0.195639  0.916073  0.772811
7   0.702108  0.156224  0.166162  0.642641
8   0.767247  0.137637  0.415814  0.585618
9   0.092331  0.611356  0.503789  0.138400
10  0.616181  0.301919  0.136615  0.156689
11  0.362637  0.608366  0.471818  0.793698
12  0.115748  0.963438  0.892760  0.570825
13  0.419106  0.229500  0.661452  0.893768
14  0.544569  0.728821  0.523245  0.977768
15  0.955462  0.018796  0.919875  0.404972
16   0.23498  0.159342  0.159267  0.970409
17  0.453454  0.579044  0.877491  0.920674
18  0.647047  0.627702  0.271710  0.630208
19  0.540708  0.658546  0.347284  0.248877
20  0.879442  0.732165  0.735349  0.295716
21  0.166183  0.581233  0.862661  0.602864
22  0.636263  0.870470  0.918897  0.287522
23  0.852073  0.646416  0.021361  0.121807
24  0.838305  0.885961  0.069277  0.932915
25  0.032041  0.414729  0.981779  0.422200
26  0.260403  0.870031  0.998714  0.606855
27  0.266406  0.955599  0.647346  0.000770
28  0.746436  0.018277  0.084773  0.466840
29   0.59762  0.778054  0.724106  0.240853
30  0.736445  0.664785  0.361101  0.753756
31  0.412701  0.654538  0.422489  0.553189
32  0.949139  0.955739  0.697275  0.336600
33  0.936919  0.812475  0.808107  0.789084

In [25]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
dtype: object